@use "../../../main.module" as *;

.wrapper {
  background-color: var(--text-0-bg);
  overflow: hidden;

  .preview {
    position: relative;

    .spriteView {
      position: absolute;
    }

    .bottomTile,
    .topTile {
      position: absolute;
      top: 0;
      z-index: 10;
      left: 1px;
    }
    .bottomTile {
      filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(2deg);
      z-index: -10 !important;
    }

    .topTile {
      opacity: 0.65;
      filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(263deg);
    }
  }
}
