@import "../../../../shared/styles/consts.module";
@import "../../../../shared/styles/mixins.module";

.header {
  margin: 2rem 0;
  color: var(--color-secondary);

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .items {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      a {
        color: var(--color-secondary);

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
